<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_Start_Screen.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='HiddenPass.png') }}" alt="HIDENPASS_Logo">
    
    <h1>BIENVENIDO A PROYECTO HIDENPASS</h1>
    <br>
    <h2>RUEDA DE LA VIDA</h2>
    <br><br><br>
    <h3>REALIZADO POR:</h3>
    <p>NICKY ALEXANDER FLOREZ BUSTAMANTE</p>
    <p>JUAN ANDRES MENENDEZ VILLARRAGA</p>
    <p>DAVID FERNANDO GOMEZ ARISTIZABAL</p>
    <a href="/persona">Ingresar a Rueda de la vida</a>
</body> 
</html>